<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>KonjakuQiita タグから歴史を振り返る</title>
  <!-- favicon -->
  <link rel="icon" href="/ico/favicon.ico" type="image/x-icon">
  <!-- viewport meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font Awesome (emoticons) -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success mb-3 sticky-top">
    <div class="container">
      <a class="navbar-brand" href="/"><b>KonjakuQiita</b> <small>タグから歴史を振り返る</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <!-- 以下のAboutを右寄せにするためのダミーバー -->
        </ul>
        <ul class="navbar-nav">　
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mb-3">
    <form class="mb-5" action="search_tags">
      <div class="form-group row">
        <input type="text" class="form-control col-7 col-md-6 col-lg-5 mr-1" name="inputTagName" placeholder="Tag Name">
        <button type="submit" class="btn btn-success col-3 col-md-2 col-lg-1 ml-1"><i class="fas fa-search"></i></button>
      </div>
    </form>

    <h1><i class="fas fa-tags"></i>: <%= @searched_by %></h1>
    <hr class="style-one">

      <div class="mt-2 mb-5 ml-2 mr-2">
        <span class="h3 text-secondary">Sort by: &nbsp;</span>
        <div class="btn-group" role="group" aria-label="Sort by">
          <%= %Q{<button type="button" onclick="location.href='/sortby_name'" class="btn btn-lg btn-outline-success pt-3 pb-3 #{'active' if @sort_key == :name}"><i class="fas fa-sort-alpha-down"></i> Name</button>} %>
          <%= %Q{<button type="button" onclick="location.href='/'" class="btn btn-lg btn-outline-success pt-3 pb-3 #{'active' if @sort_key == :article}"><i class="far fa-newspaper"></i> Articles</button>} %>
          <%= %Q{<button type="button" onclick="location.href='/sortby_year'" class="btn btn-lg btn-outline-success pt-3 pb-3 #{'active' if @sort_key == :year}"><i class="far fa-calendar-alt"></i> Year</button>} %>
        </div>
      </div>

    <div class="row mb-5">
      <% @tags.zip(@colors).each do |tag, color| %>
      <%= %Q{<div class="col-5 col-md-3 col-lg-2 mt-1 mb-1 ml-1 mr-1">} %>
        <%= %Q{<a class="btn btn-success text-truncate text-left" style="max-width:160px; background-color:#{color}; border-color:#{color};" href="./ranking/#{tag.name}"> #{tag.created_at.year}: #{tag.name}</a>} %>
      <%= %Q{</div>} %>
      <% end %>
    </div>
  </div>

  <footer class="footer bg-secondary mt-auto text-white fixed-bottom pb-1">
    <div class="container">
      <span>KonjakuQiita &nbsp; 2019-</span>
    </div>
  </footer>

  <!-- jQuery、Popper.js、Bootstrap JS (Required for Bootstrap) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
